################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideogamesStore.WorkerService/appsettings.json
/VideogamesStore.WorkerService/Properties/launchSettings.json
/VideogamesStore.Api/appsettings.json
/VideogamesStore.Api/Infrastructure_Containers/.env
/VideogamesStore.WorkerService/appsettings.json
/VideogamesStore.WorkerService/appsettings.Development.json
/VideogamesStore.Infrastructure/bin/
/VideogamesStore.Infrastructure/obj/
/VideogamesStore.Domain/bin/
/VideogamesStore.Domain/obj/
/VideogamesStore.Tests/bin/
/VideogamesStore.Tests/obj/
/VideogamesStore.Application/bin/
/VideogamesStore.Application/obj/
/VideogamesStore.Api/bin/
/VideogamesStore.Api/obj/
/VideogamesStore.WorkerService/bin/
/VideogamesStore.WorkerService/obj/
